.barra-nav {
    background-color: rgba(44, 62, 80, 255);
    color: white;
}

.nav-link {
    color: white;
}

.sfondo-verde {
    background-color: rgba(26, 188, 156, 255);
    width: 100vw;
    height: auto;
}

.line{
    height: 1px;
}

.nav {
    margin: 20px 0;
}

.text-center {
    color: white;
}

.portfolio {
    text-align: center;
}

.stella {
    text-align: center;
}

.sfondo-light-green {
    background-color: rgba(26, 188, 156, 255);
    margin: 40px 0;
    color: white;
}

.text-align-center {
    text-align: center;
}

.button-green {
    margin-top: 100px;
    background-color: rgba(26, 188, 156, 255);
    border: none;
}